@model IEnumerable<ProjektBibliotekaMVC.Models.Book>
@inject ProjektBibliotekaMVC.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "BooksList";
    var userId = ViewBag.UserId as string;
}

<h1 class="margin-bottom-small text-center">Nasze Książki</h1>

<ul class="book-list-2">
    <form class="margin-bottom-small" method="get" action="@Url.Action("BooksList", "Books")">
        <input type="text" name="searchString" placeholder="Wyszukaj książkę...">
        <input type="submit" value="Szukaj">
    </form>
    @foreach (var item in Model)
    {
        <li class="book-item">
            <div class="book-info">
                <div>
                    <p><strong>@Html.DisplayFor(modelItem => item.Title)</strong></p>
                    <p>Opis książki: <br> @Html.DisplayFor(modelItem => item.Contents)</p>
                    <p>Autor: @Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurename)</p>
                    <p>Kategoria: @Html.DisplayFor(modelItem => item.IdCategory)</p>
                    <p>Numer ISBN: @Html.DisplayFor(modelItem => item.ISBN)</p>
                    @if (item.InMagazineCount > 0)
                    {
                        var isInCart = _context.Carts.FirstOrDefault(c => c.IdBook == item.Id && c.IdUser == userId);
                        if (isInCart == null)
                        {
                            <form method="post" action="@Url.Action("AddToCart", "Books")">
                                <input type="hidden" name="bookId" value="@item.Id" />
                                <button type="submit" class="button-tocart">Dodaj do koszyka</button>
                            </form>
                        }
                        else
                        {
                            <button disabled style="background-color: grey; cursor: not-allowed;">Książka w koszyku</button>
                        }
                    }
                    else
                    {
                        <button disabled style="background-color: grey; cursor: not-allowed;">Niedostępne</button>
                    }
                </div>
            </div>
            <div class="book-image">
                <img src="@Url.Content("~/Images/" + item.Title + ".png")" alt="Obrazek książki" style="max-width: 100%; max-height: 100%;">
            </div>
        </li>
    }
</ul>