@inject ProjektBibliotekaMVC.Data.ApplicationDbContext _context

@model IEnumerable<ProjektBibliotekaMVC.Models.Cart>

<h2>Twój koszyk</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa książki</th>
                <th>Autor</th>
                <th>Numer ISBN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model)
            {

                var book = _context.Books.FirstOrDefault(b => b.Id == cartItem.IdBook);
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName @book.AuthorSurename</td>
                    <td>@book.ISBN</td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveFromCart", "Cart")">
                            <input type="hidden" name="cartItemId" value="@cartItem.Id" />
                            <button type="submit">Usuń z koszyka</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <form method="post" action="@Url.Action("Checkout", "Cart")">
            <button type="submit" class="button-tocart">Wypożycz książki</button>
        </form>
    </div>
}
else
{
    <p>Twój koszyk jest pusty.</p>
}