@inject ProjektBibliotekaMVC.Data.ApplicationDbContext _context

@model IEnumerable<ProjektBibliotekaMVC.Models.Cart>

<h2>Podsumowanie zamówienia</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa książki</th>
                <th>Autor</th>
                <th>Numer ISBN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model)
            {
                
                var book = _context.Books.FirstOrDefault(b => b.Id == cartItem.IdBook);
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName @book.AuthorSurename</td>
                    <td>@book.ISBN</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Książki będą dostępne do odbioru w naszej bibliotece na ulicy Bibliotecznej 42</p>

    <div>
        <form method="post" action="@Url.Action("PlaceOrder", "Cart")">
            @foreach (var cartItem in Model)
            {
                var book = _context.Books.FirstOrDefault(b => b.Id == cartItem.IdBook);
                <input type="hidden" name="bookId" value="@book.Id" />
            }
            <button type="submit" class="button-tocart">Zarezerwuj wybrane książki do odbioru</button>
        </form>
        <form method="post" action="@Url.Action("Cart", "Cart")">
            <button type="submit">Anuluj</button>
        </form>
    </div>
}
else
{
    <p>Twoje zamówienie jest puste.</p>
}
