@model IEnumerable<ProjektBibliotekaMVC.Models.BorrowHistory>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookISBN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.BookISBN)
                    </td>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.IdBook">Details</a>
                    </td>
                </tr>
        }
    </tbody>
</table>