@using ProjektBibliotekaMVC.Utility;
@model ProjektBibliotekaMVC.Utility.BookCopyInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookCopy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBookCopy" />
            <input asp-for="IdBook" type="hidden" />
            <input asp-for="Status" type="hidden" />
            <p>Previous status: @Model.Status</p>
            <div class="form-group">
                <label asp-for="NewStatus" class="control-label"></label>
                <select asp-for="NewStatus" class="form-control">
                    <option>@SD.BookInMagazine</option>
                    <option>@SD.BookIsWaiting</option>
                    <option>@SD.BookIsBorrowed</option>
                </select>
                <span asp-validation-for="NewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexForBook" asp-route-id="@Model.IdBook">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
